<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>企业认证-增值服务</title>
    <link href="css/create_order.css" rel="stylesheet" type="text/css">
    <link href="css/public.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/vue-2.x.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <!-- 登录注册模块 -->
    <div class="flied_tc">
        <div class="close_login_form" onclick="hideLoginForm()">x</div>
        <div class="flied_td">
            <h4 class="login_title"><span class="choosed">快速登录</span><span>新用户注册</span></h4>
            <form class="login_form show">
                <div class="flied_te">
                    <input type="tel" id="userphone" placeholder="输入手机号">
                </div>
                <div class="flied_te">
                    <input type="password" id="userpassword" placeholder="输入密码">
                </div>
                <input class="flied_tj" type="button" value="立即登录" onclick="userLogin()">
            </form>
            <form class="login_form register_form">
                <div class="flied_te">
                    <input type="tel" id="registerPhone" placeholder="输入手机号">
                </div>
                <div class="flied_te">
                    <input type="password" id="registerPassword" placeholder="请输入密码">
                </div>
                <div class="flied_te">
                    <input type="password" id="confirmRegisterPassword" placeholder="请再次输入密码">
                </div>
                <div class="flied_te">
                    <input type="text" id="imgCheckCode" placeholder="请输入图形验证码" class="partinput" onchange="letGetPhoneCode()"><img
                        src="" id="imgCheckCodeUrl" alt="" srcset="" onclick="getCheckCode()">
                </div>
                <div class="flied_te">
                    <input type="text" id="getphone_code" placeholder="请输入手机验证码" class="partinput"><input class="getphone_code"
                        name="mobile" type="text" value="获取手机验证码" onclick="getCheckNumber()">
                </div>
                <input class="flied_tj" type="button" value="立即注册" onclick="userRegister()">
            </form>
        </div>
    </div>
    <!-- 登录注册模块 end-->
    <div id="dymain">
        <div class="htHeader">
            <div class="htHeader_con">
                <div class="ht_logo fl"><img src="images/ht_logo.png" alt=""></div>
                <div class="ht_nav fl">
                    <li><a href="personal_center.html">首页</a></li>
                    <li><a href="http://www.dujin021.com/douyin">抖音运营</a></li>
                    <li><a href="/">DOU+加速</a></li>
                    <li><a href="http://www.dujin021.com/about">关于我们</a></li>
                    <li><a href="http://www.dujin021.com/contact/1.html">常见问题</a></li>
                </div>
                <div class="ht_person fr">
                    <div class="user_is_login"><img src="images/ht_yh_icon.png" alt=""><span class="user_login_name">倒影年华</span>
                        &nbsp;&nbsp; |
                        &nbsp;&nbsp; <span onclick="userLoginOut()">退出</span>
                    </div>
                    <div class="user_isnot_login show" onclick="openUserLogin()">注册/登录</div>
                </div>
            </div>
        </div>
        <div class="dybox" id="dybox">
            <div class="ht_contentC dy-nav">
                <ul class="ht_content_ul">
                    <li>
                        <a href="personal_center.html">
                            <i></i>用户中心
                        </a>
                    </li>
                    <li>
                        <a href="create_order.html">
                            <i></i>新建计划</a>
                    </li>
                    <li>
                        <a href="order_center.html">
                            <i></i>订单中心
                        </a>
                    </li>
                    <li>
                        <a href="personal.html">
                            <i></i>充值与消费
                        </a>
                    </li>
                    <li>
                        <i></i>个人资料
                    </li>
                    <li class="child "><a href="personal_data.html"><i></i>资料编辑</a></li>
                    <li class="child "><a href="personal_cellphone.html"><i></i>修改手机号码</a></li>
                    <li class="child"><a href="personal_password.html"><i></i>修改密码</a></li>
                    <li class="official"><i></i>增值服务</li>
                    <li class="child selected"><a href="company_auth.html"><i></i>企业认证</a></li>
                    <li class="child"><a><i></i>商品分享功能</a></li>
                    <li class="child"><a><i></i>直播权限</a></li>
                    <li class="child"><a><i></i>60秒权限</a></li>
                    <li><a href="common_problem.html" class="show_problem "><i></i>常见问题</a></li>
                </ul>
            </div>
            <div class="dy-content create_box">
                <h3 class="create_title">资质提交</h3>
                <div class="zzSub">
                    <form action="" ref="auth_form">
                        <div class="zzSub_box">
                            <div class="compony_auth_label"><b>*</b> 抖 音 号：</div><input type="text" placeholder="请输入您要投放的抖音账号"
                                class="zzSub_input" v-model="douyinName">
                        </div>
                        <div class="zzSub_box">
                            <div class="compony_auth_label"><b>*</b> 企业名称：</div><input type="text" placeholder="请输入企业名称"
                                v-model="companyName" class="zzSub_input">
                        </div>
                        <div class="zzSub_box">
                            <div class="compony_auth_label"><b>*</b> 营业执照注册号：</div><input type="text" placeholder="请输入18位统一社会信用代码"
                                v-model="companyId" class="zzSub_input">
                        </div>
                    </form>
                    <div class="zzSub_box">
                        <div class="dis-inline compony_auth_group">
                            <div class="compony_auth_label"><b>*</b> 企业营业执照
                                <!-- <div class="create_order_tips"><img src="images/create_order_tips.png"
                                        alt="" class="order_tips_icon">
                                    <div class="order_tips_description"><img src="images/order_tips_description_tri.jpg"
                                            alt="" class="order_tips_description_tri"><b>企业营业执照</b>只支持中国大陆工商局或市场监督管理局登记的企业，请上传最新的营业执照，正面照，资质无残缺信息。</div>
                                </div> -->：</div>

                        </div>
                        <div class="sc_k">
                            <form ref="auth_form">
                                <label for="auth_upload_license" v-if="companyIdUrl == false">上传营业执照</label>
                                <input type="file" v-if="companyIdUrl == false" id="auth_upload_license" ref="auth_upload_license"
                                    name="path" @change="uploadCardFace($event,'auth_upload_license','companyIdUrl')">
                                <img :src="companyIdUrl" alt="" v-if="companyIdUrl != false">
                            </form>
                        </div>
                    </div>
                    <div class="zzSub_box">
                        <div class="dis-inline compony_auth_group">
                            <div class="compony_auth_label"><b>*</b> 行业许可证
                                <!-- <div class="create_order_tips"><img src="images/create_order_tips.png"
                                        alt="" class="order_tips_icon">
                                    <div class="order_tips_description"><img src="images/order_tips_description_tri.jpg"
                                            alt="" class="order_tips_description_tri"><b>企业营业执照</b>只支持中国大陆工商局或市场监督管理局登记的企业，请上传最新的营业执照，正面照，资质无残缺信息。</div>
                                </div> -->：</div>

                        </div>
                        <div class="sc_k">
                            <form ref="auth_form">
                                <label for="auth_upload_permit" v-if="permitUrl == false">上传行业许可证</label>
                                <input type="file" v-if="permitUrl == false" id="auth_upload_permit" ref="auth_upload_permit"
                                    name="path" @change="uploadCardFace($event,'auth_upload_permit','permitUrl')">
                                <img :src="permitUrl" alt="" v-if="permitUrl != false">
                            </form>
                        </div>
                    </div>

                    <div class="zzSub_box">
                        <div class="compony_auth_label"><b>*</b> 认 证 公 函<div class="create_order_tips"><img src="images/create_order_tips.png"
                                    alt="" class="order_tips_icon">
                                <div class="order_tips_description"><img src="images/order_tips_description_tri.jpg"
                                        alt="" class="order_tips_description_tri"><b>认证公函</b>下载填写 <a href="">《企业认证申请公函》</a>，填写完成后加盖红色公章，上传清晰的公函扫描件。</div>
                            </div>：</div>
                        <div class="sc_k">
                            <form ref="auth_form">
                                <label for="auth_upload_letter" v-if="authUrl == false">上传认证公函</label>
                                <input type="file" v-if="authUrl == false" id="auth_upload_letter" ref="auth_upload_letter"
                                    name="path" @change="uploadCardFace($event,'auth_upload_letter','authUrl')">
                                <img :src="authUrl" alt="" v-if="authUrl != false">
                            </form>
                        </div>
                    </div>
                    <form ref="auth_form">
                        <div class="zzSub_box">
                            <div class="compony_auth_label"><b>*</b> 运营人姓名<div class="create_order_tips"><img src="images/create_order_tips.png"
                                        alt="" class="order_tips_icon">
                                    <div class="order_tips_description"><img src="images/order_tips_description_tri.jpg"
                                            alt="" class="order_tips_description_tri"><b>运营人姓名</b>请填写与《企业认证申请公函》上的运营者一致，在认证审核过程中，将与该运营者联系核实。</div>
                                </div>：</div><input type="text" placeholder="请输入运营人姓名" v-model="operateName">
                        </div>
                        <div class="zzSub_box">
                            <div class="compony_auth_label"><b>*</b> 运营人联系电话<div class="create_order_tips"><img src="images/create_order_tips.png"
                                        alt="" class="order_tips_icon">
                                    <div class="order_tips_description"><img src="images/order_tips_description_tri.jpg"
                                            alt="" class="order_tips_description_tri"><b>运营人联系电话</b>请填写运营者的手机号，在认证审核过程中，将与该运营者联系核实。</div>
                                </div>：</div><input type="text" placeholder="请输入运营人联系电话" v-model="operatePhone">
                        </div>
                        <div class="zzSub_box">
                            <div class="compony_auth_label"><b>*</b> 图 形 验 证 码：</div>
                            <input type="text" class="dxyz_input" placeholder="请输入验证码" v-model="imgCheckCode">
                            <img :src="imgCheckCodeUrl" alt="" class="imgCode" @click="getImgCheckCode">
                            <!-- <input type="button" class="dxyz_btn phone_code_btn" v-model="watchPhoneCodeBtn" @click="getPhoneCode" :class="{disabled:!isLetPhoneCode}" :disabled="!isLetPhoneCode"> -->
                        </div>
                        <div class="zzSub_box">
                            <div class="compony_auth_label"><b>*</b> 短 信 验 证 码：</div>
                            <input type="text" class="dxyz_input" placeholder="请输入验证码" v-model="phoneCheckCode">
                            <input type="button" class="dxyz_btn phone_code_btn" v-model="watchPhoneCodeBtn" @click="getPhoneCode"
                                :class="{disabled:!isLetPhoneCode}" :disabled="!isLetPhoneCode">
                        </div>
                    </form>
                    <!-- <div class="zzSub_box">
                            <span></span>
                            <div id="zzSub_box_radio">
                                <input id="fp_ra" type="radio" class="radio_dx">索要发票
                                <input id="fp_ra2" type="radio">我放弃索要发票
                            </div>

                        </div> -->
                    <!-- <div class="zzSub_box auth_choose_invoice">
                        <div class="order_typename_group" v-for="(item,index) in isGetInvoiceLists" :key="index"><input
                                type="radio" name="choose_invoice" :class="{radio_checked:choosedInvoiceIndex === index}"
                                :value="item.name" @click="choosedAuth(index)"><span>{{item}}</span>
                        </div>
                    </div>
                    <div class="zzSub_box">
                        <div class="compony_auth_label"><b>*</b> 发票接受电子邮箱：</div><input type="text" placeholder="请输入用于接收发票的电子邮箱"
                            class="zzSub_input">

                    </div> -->
                    <div class="zzSub_box auth_agree">
                        <div class="zzSub_box syxy">
                            <span></span><label for=""><input type="checkbox" class="syxy_input"><em>同意</em>
                                <a href="">《度进公司服务使用协议》</a> </label>
                        </div>
                    </div>
                    <div class="zzSub_box auth_submit">
                        <span></span>
                        <div class="sub_tj">
                            <!--  <input type="button" value="取消" class="cancel_btn"> -->
                            <input type="button" value="提交" class="submit_btn" @click="confirmCompanyAuth">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="dymain_cover" v-if="isConfirm">
            <div class="pay_success confirm_success" v-if="isConfirm" :class="{show:isConfirm}">
                <h3 style="margin-top: 80px;"><img src="images/pay_success_03.jpg" alt="">企业认证</h3>
                <!-- <h4><span>秒</span>后将跳转到订单中心</h4> -->
                <div class="pay_success_tips confirm_success_tips">
                    <h5>温馨提示</h5>
                    <p>1、您的认证资料已成功提交，不支持修改。</p>
                    <p>2、请尽快联系您的客户经理，支付审核服务费<strong>600元</strong> ，进入审核流程，完成支付。</p>
                    <p>3、如需修改认证资料，可通过电话或QQ方式联系您的客户经理。</p>
                    <p>4、如有疑问，请直接拨打<strong>400-040-2120</strong>。</p>
                </div>
                <div class="confirm_success_btn" @click="closeConfirm">确定</div>
            </div>
        </div>
    </div>
    <script src="js/slide-check.js"></script>
    <script src="js/login.js"></script>
    <script src="js/company_auth.js"></script>
</body>

</html>