<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>资料编辑-个人资料</title>
    <link href="css/create_order.css" rel="stylesheet" type="text/css">
    <link href="css/public.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/vue-2.x.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://integral.fudayiliao.com/Content/js/jquery.form.js"></script>
</head>

<body>
    <!-- 登录注册模块 -->
    <div class="flied_tc">
            <div class="close_login_form" onclick="hideLoginForm()">x</div>
            <div class="flied_td">
                <h4 class="login_title"><span class="choosed">快速登录</span><span>新用户注册</span></h4>
                <form class="login_form show">
                    <div class="flied_te">
                        <input type="tel" id="userphone" placeholder="输入手机号">
                    </div>
                    <div class="flied_te">
                        <input type="password" id="userpassword" placeholder="输入密码">
                    </div>
                    <input class="flied_tj" type="button" value="立即登录" onclick="userLogin()">
                </form>
                <form class="login_form register_form">
                    <div class="flied_te">
                        <input type="tel" id="registerPhone" placeholder="输入手机号">
                    </div>
                    <div class="flied_te">
                        <input type="password" id="registerPassword" placeholder="请输入密码">
                    </div>
                    <div class="flied_te">
                        <input type="password" id="confirmRegisterPassword" placeholder="请再次输入密码">
                    </div>
                    <div class="flied_te">
                        <input type="text" id="imgCheckCode" placeholder="请输入图形验证码" class="partinput" onchange="letGetPhoneCode()"><img
                            src="" id="imgCheckCodeUrl" alt="" srcset="" onclick="getCheckCode()">
                    </div>
                    <div class="flied_te">
                        <input type="text" id="confirmRegisterPassword" placeholder="请输入手机验证码" class="partinput"><input
                            class="getphone_code" name="mobile" type="text" value="获取手机验证码" onclick="getCheckNumber()">
                    </div>
                    <input class="flied_tj" type="button" value="立即注册" onclick="userRegister()">
                </form>
            </div>
        </div>
        <!-- 登录注册模块 end-->
    <div id="dymain">
        <div class="htHeader">
            <div class="htHeader_con">
                <div class="ht_logo fl"><img src="images/ht_logo.png" alt=""></div>
                <div class="ht_nav fl">
                    <li><a href="personal_center.html">首页</a></li>
                    <li><a href="http://www.dujin021.com/douyin">抖音运营</a></li>
                    <li><a href="/">DOU+加速</a></li>
                    <li><a href="http://www.dujin021.com/about">关于我们</a></li>
                    <li><a href="http://www.dujin021.com/contact/1.html">常见问题</a></li>
                </div>
                <div class="ht_person fr">
                    <div class="user_is_login"><img src="images/ht_yh_icon.png" alt=""><span class="user_login_name">倒影年华</span>
                        &nbsp;&nbsp; |
                        &nbsp;&nbsp; <span onclick="userLoginOut()">退出</span>
                    </div>
                    <div class="user_isnot_login show" onclick="openUserLogin()">注册/登录</div>
                </div>
            </div>
        </div>
        <div class="dybox" id="dybox">
            <div class="ht_contentC dy-nav">
                <ul class="ht_content_ul">
                    <li>
                        <a href="personal_center.html">
                            <i></i>用户中心
                        </a>
                    </li>
                    <li>
                        <a href="create_order.html">
                            <i></i>新建计划</a>
                    </li>
                    <li>
                        <a href="order_center.html">
                            <i></i>订单中心
                        </a>
                    </li>
                    <li>
                        <a href="personal.html">
                            <i></i>充值与消费
                        </a>
                    </li>
                    <li>
                        <i></i>个人资料
                    </li>
                    <li class="child selected"><a href="personal_data.html"><i></i>资料编辑</a></li>
                    <li class="child "><a href="personal_cellphone.html"><i></i>修改手机号码</a></li>
                    <li class="child"><a href="personal_password.html"><i></i>修改密码</a></li>
                    <li class="official"><i></i>增值服务</li>
                    <li class="child"><a href="company_auth.html"><i></i>企业认证</a></li>
                    <li class="child"><a><i></i>商品分享功能</a></li>
                    <li class="child"><a><i></i>直播权限</a></li>
                    <li class="child"><a><i></i>60秒权限</a></li>
                    <li><a href="common_problem.html" class="show_problem "><i></i>常见问题</a></li>
                </ul>
            </div>
            <div class="dy-content create_box">
                <div class="htlist_ulC">
                    <h3>编辑资料</h3>
                    <dl class="htlist_dla">
                        <dd>
                            <span class="htlist_dld"><em>*</em><label>抖音昵称：</label></span>
                            <input class="htlist_dlb" name="mobile" type="text" v-model="douyinNameVal" placeholder="请输入您要投放的抖音昵称" @focus="dyNameFocus"
                                @blur="dyNameBlur">
                        </dd>
                        <dd>
                            <span class="htlist_dld"><em>*</em><label>抖音号：</label></span>
                            <input class="htlist_dlb" name="mobile" type="number" v-model="douyinNumberVal" placeholder="请输入您要投放的抖音号" @focus="dyIdFocus"
                                @blur="dyNameFocus">
                        </dd>
                        <dd>
                            <span class="htlist_dld"><em>*</em><label>手机号：</label></span>
                            <input class="htlist_dlb" name="mobile" type="tel" v-model="userCellphoneNumber" readonly
                                disabled class="disabled">
                            <!--  <button class="htlist_dld" type="buttom">获取验证码</button> -->
                        </dd>
                        <!-- <dd><button class="htlist_dle" type="button" @click="submitUserMessage">确定</button> </dd> -->
                    </dl>
                </div>
                <div class="personal_center_rz">
                    <label for="order_typename">
                        资料认证
                        <div class="create_order_tips"><img src="images/create_order_tips.png" alt="" class="order_tips_icon">
                            <div class="order_tips_description"><img src="images/order_tips_description_tri.jpg" alt=""
                                    class="order_tips_description_tri"><b>资料认证</b>个人
                                身份证、企业营业执照和行业许可证只作为网站核实个人及公司真实性的材料，不在网站页面显示。</div>
                        </div></label>
                    <div class="choose_authentication">
                        <div class="order_typename_group" v-for="(item,index) in authenticationLists" :key="index"><input
                                type="radio" name="choose_authentication" :class="{radio_checked:choosedAuthIndex === index}"
                                :value="item.name" @click="choosedAuth(index)"><span>{{item}}</span></div>
                        <transition name="show1">
                            <!-- 个人认证部分 -->
                            <div class="personal_auth" v-if="choosedAuthIndex === 0">
                                <p class="personal_auth_name"><span><em>*</em>真实姓名：</span><input type="text" v-model="userRealName"
                                        placeholder="请输入您的真实姓名"></p>
                                <div class="personal_auth_idcard">
                                    <span><em>*</em>上传二代身份证：</span>
                                    <div class="dis-inline over-hidden">
                                        <div class="dis-inline auth_idcard">
                                            <form id="auth_idcard_face">
                                                <label for="upload_idcard_face" v-if="idcardFaceURL == false">上传人像面</label>
                                                <input type="file" v-if="idcardFaceURL == false" ref="upload_idcard_face"
                                                    id="upload_idcard_face" name="path" @change="uploadCardFace($event,'upload_idcard_face','idcardFaceURL')">
                                                <img :src="idcardFaceURL" alt="" v-if="idcardFaceURL != false">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="dis-inline over-hidden" style="margin-left: 30px;">
                                        <div class="dis-inline auth_idcard">
                                            <form id="auth_idcard_back">
                                                <label for="upload_idcard_back" v-if="idcardBackURL == false">上传国徽面</label>
                                                <input type="file" v-if="idcardBackURL == false" ref="upload_idcard_back"
                                                    name="path" id="upload_idcard_back" @change="uploadCardFace($event,'upload_idcard_back','idcardBackURL')">
                                                <img :src="idcardBackURL" alt="" v-if="idcardBackURL != false">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <p class="personal_auth_tips" v-if="choosedAuthIndex === 0">请上传四角完整，亮度均匀，照片清晰的二代身份证，图片格式需为JPG,JPEG格式，大小不能超过500k。</p>
                            </div>
                        </transition>
                        <transition name="show1">
                        <!-- 企业认证部分 -->
                        <div class="personal_auth personal_compantlicense" v-if="choosedAuthIndex === 1">
                            <p class="personal_auth_name"><span><em>*</em>企业名称：</span><input type="text" v-model="companyName"
                                    placeholder="请输入您的企业名称"></p>
                            <p class="personal_auth_name personal_auth_license"><span><em>*</em>营业执照注册号 ：</span><input
                                    type="number" v-model="companyNumber" placeholder="请输入18位统一社会信用代码"></p>
                            <div class="personal_auth_idcard dis-inline personal_auth_comlience">
                                <span><em>*</em>企业营业执照：</span>
                                <div class="dis-inline over-hidden">
                                    <div class="dis-inline auth_idcard">
                                        <form id="auth_idcard_face">
                                            <label for="compamy_idcard" v-if="companyIdUrl == false">上传营业执照</label>
                                            <input type="file" v-if="companyIdUrl == false" id="compamy_idcard" ref="compamy_idcard" name="path" @change="uploadCardFace($event,'compamy_idcard','companyIdUrl')">
                                            <img :src="companyIdUrl" alt="" v-if="companyIdUrl != false">
                                        </form>
                                    </div>
                                    <p>请上传最新的营业执照彩色扫描件，各字段及印章完整清晰，资质无残缺信息，图片格式需为JPG,JPEG格式，大小不能超过500k。</p>
                                </div>
                            </div>
                            <div class="personal_auth_idcard dis-inline personal_auth_comlience">
                                <span><em>*</em>行业许可证：</span>
                                <div class="dis-inline over-hidden">
                                    <div class="dis-inline auth_idcard">
                                        <form id="auth_idcard_face">
                                            <label for="industryCard" v-if="industryCardURL == false">上传行业许可证</label>
                                            <input type="file" v-if="industryCardURL == false" id="industryCard" ref="industryCard" name="path" @change="uploadCardFace($event,'industryCard','industryCardURL')">
                                            <img :src="industryCardURL" alt="" v-if="industryCardURL != false">
                                        </form>
                                    </div>
                                    <p>请上传最新的行业许可证彩色扫描件，各字段及印章完整清晰，资质无残缺信息，图片格式需为JPG,JPEG格式大小不能超过500k。</p>
                                </div>
                            </div>
                        </div>
                        </transition>
                    </div>
                    <div class="personal_agree">
                        <p class=""><input type="radio" name="choose_authentication" :class="{radio_checked:isAgree == true}"
                                value="" @click="changeAgree">同意<a href="">《上海度进信息科技有限公司服务使用协议》</a> </p>
                        <input type="button" class="confirm_personal_data" :disabled="isAgree != true" :class="{disabled:isAgree != true}"
                            value="确定" @click="submitUserMessage">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="js/slide-check.js"></script>
    <script src="js/login.js"></script>
    <script src="js/personal_data.js"></script>
</body>

</html>